include ../mixin/profile.jade
.container   
   .row
      .col-sm-12
         h2.text-center Calendar for Olga De Troyer
      .col-sm-1
      .col-sm-10
         img.img-responsive(src="/images/photos/cal.png")
