include ../mixin/profile.jade
.container   
   .row
      .col-md-12.vh90
         .row.h74(style="padding-top: 5em")
            .col-md-12
               .row
                  +profileCard()(name="Olga De Troyer")                
               .row
                  .col-sm-6
                     button.btn.btn-lg.btn-default(style="width: 100%") Make Reservation
                  .col-sm-6
                     button.btn.btn-lg.btn-default(style="width: 100%") Member Schedule
         .row(style="margin-top: 5em; margin-bottom: 7em")
            .col-sm-12
               .text-center
                  i.fa.fa-arrow-down(style="padding-right: 1em")   
                  h4(style="display: inline") Other Members (click for options)
                  i.fa.fa-arrow-down(style="padding-left: 1em")   
      .col-md-12
         .row
            +smallProfileCard(true)
            +smallProfileCard(false)
            +smallProfileCard(false)
            +smallProfileCard(true)
