.container
   .form-card
      .row
         .col-sm-1
         .col-sm-10  
            .vh75
               
            .row.text-center
               .col-sm-4
                  button.btn.btn-primary.btn-lg.w100.active
                     i.fa.fa-bell-slash-o.fa-2x
                     h4 Do Not Disturb (Toggle)
               .col-sm-4       
                  button.btn.btn-primary.btn-lg.w100.active
                     i.fa.fa-history.fa-2x
                     h4 Be Right Back (15 min)
               .col-sm-4
                  button.btn.btn-primary.btn-lg.w100.active
                     i.fa.fa-glass.fa-2x
                     h4 Lunch (1H)
         .col-sm-1.vh95
            .center
               i.fa.fa-caret-right.fa-2x.fa-align-center 
