.container
   .row.vh90
      .col-sm-12.center
         .row.text-center.switch
            .col-sm-12(style="padding: 1em")
               button.btn.btn-warning.btn-lg.w100.active.next
                  i.fa.fa-bell-slash.fa-2x 
                  |  Do Not Disturb (Toggle)
            .col-sm-12(style="padding: 1em")       
               button.btn.btn-info.btn-lg.w100.active.next
                  i.fa.fa-history.fa-2x 
                  |  Be Right Back (15 min)
            .col-sm-12(style="padding: 1em")
               button.btn.btn-info.btn-lg.w100.active.next
                  i.fa.fa-glass.fa-2x 
                  |  Lunch (1H)
