.container
   .form-card
      .row
         .col-sm-1.vh95.prev
            .center
               i.fa.fa-caret-left.fa-2x.fa-align-center
         .col-sm-10
            .vh25
               .center
                  .row
                     .col-sm-6
                        h1 Slot Length:
                     .col-sm-6.text-right
                        .btn-group.btn-group-lg.box-shadow(role="group")
                           button.btn.bg-yellow(style= "min-width: 5em")
                              h1 -
                           button.btn.bg-yellow(style= "min-width: 5em")
                              h1 00:15
                           button.btn.bg-yellow(style= "min-width: 5em")
                              h1 +
            .row
               .col-sm-12
                  h2 Today:
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7 
                  .col-sm-12
                     h3 10:00 - 10:15:   Free Slot
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7
                  .col-sm-12
                     h3 10:15 - 10:30:   Free Slot
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7
                  .col-sm-12
                     h3 10:30 - 10:45:   Free Slot
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7
                  .col-sm-12
                     h3 10:45 - 11:00:   Free Slot
            .row
               .col-sm-12
                  h2 Tomorrow:
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7 
                  .col-sm-12
                     h3 10:00 - 10:15:   Free Slot
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7
                  .col-sm-12
                     h3 10:15 - 10:30:   Free Slot
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7
                  .col-sm-12
                     h3 10:30 - 10:45:   Free Slot
            .row
               .col-sm-12.agenda-item.text-white.bg-lblue7
                  .col-sm-12
                     h3 10:45 - 11:00:   Free Slot
                                    
         .col-sm-1.vh95.next
            .center
               i.fa.fa-caret-right.fa-2x.fa-align-center 
