.container
  .row(style="zoom: 1.5")
    form#basicWizard.panel-wizard(method="post")
      ul.nav.nav-justified.nav-wizard.nav-pills
        li.active
          a(href="#tab1", data-toggle="tab")
            strong Step 1:
            | Select Time Slot
        li
          a(href="#tab2", data-toggle="tab")
            strong Step 2:
            | User Information
        li
          a(href="#tab3", data-toggle="tab")
            strong Step 3:
            | Confirm
      .col-md-12
         h3.text-center Reservation for Olga De Troyer
         .tab-content
           #tab1.tab-pane.active
             .form-group
               label.col-sm-4 Slot duration (min)
               .col-sm-8
                 input.form-control(type="number", name="duration", value=15)
             .row
                h4 Today
                +slot(true)
                +slot(false)
                +slot(false)
                +slot(false)
                +slot(false)
                
           #tab2.tab-pane
             p.text-center (Scan VUB ID for fast entry()
             .form-group
               label.col-sm-4 Name:
               .col-sm-5
                 input.form-control(type="text", name="product_id")
             // form-group
             .form-group
               label.col-sm-4 Student Number:
               .col-sm-8
                 input.form-control(type="text", name="product_name")
           // tab-pane
           #tab3.tab-pane
             .form-group
               label.col-sm-4 Slot Start:
               .col-sm-8
                 input.form-control(type="text", name="cardno" value="15:00")
             .form-group
               label.col-sm-4 Slot End:
               .col-sm-8
                 input.form-control(type="text", name="cardno" value="15:15")
             .form-group
               label.col-sm-4 Name:
               .col-sm-8
                 input.form-control(type="text", name="cardno" value="Tim Witters")
             .form-group
               label.col-sm-4 Student Number:
               .col-sm-8
                 input.form-control(type="number", name="cardno" value=93716)
         ul.list-unstyled.wizard
           li.pull-left.previous.disabled
             button.btn.btn-default(type="button") Previous
           li.pull-right.next
             button.btn.btn-primary(type="button") Next
           li.pull-right.finish.hide
             button.btn.btn-primary(type="submit") Finish
                        
