html
   head
      title= title
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/font-awesome.css')
      link(rel='stylesheet', href='/plugin/slick/slick.css')
      link(rel='stylesheet', href='/css/vub.css')
         
   body
      div.slider
         -var available = true
         include ./components/settings.jade
         include ./components/home.jade
         include ./components/user.jade
         include ./components/slots.jade

   
   script(src='http://code.jquery.com/jquery-2.1.1.js')
   script(src='/js/bootstrap.js')
   script(src='/plugin/slick/slick.js')
   script(type='text/javascript').
      $(document).ready(function(){
         $('.slider').slick({
            accessibility: true,
            arrows: false , 
            adaptiveHeight: true,
            initialSlide: 1});
      });
      
      
      
      $('.next').on('click', function(e) {
         $('.slider').slickNext()
      })
      
      $('.prev').on('click', function(e) {
         $('.slider').slickPrev()
      })
      
